
*
{
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;

} 

@import 'variables';
@import 'mixins';


@import './components/header';
@import './components/footer';

@import './home/hero';
@import './home/process';
@import './home/restaurants';

@import './restaurant/hero';
@import './restaurant/menu';
