@import 'variables';
@import 'mixins';

*
{
    margin: 0;
    box-sizing: border-box; 
    font-family: $font-primary;
} 

a {
    color: inherit;
    text-decoration: none;
}

@import './components/header';
@import './components/footer';
@import './components/buttons';
@import './components/process-item';
@import './components/restaurent-card';
@import './components/dishes-card';

@import './pages/home/hero';
@import './pages/home/process';
@import './pages/home/restaurants';

@import './pages/restaurant/hero';
@import './pages/restaurant/menu';
