.heart-checkbox
{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.heart-checkbox:checked + .heart-label i,
.heart-checkbox:checked + button i {
    background: $gradient-heart;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    color: transparent;
    transform: scale(1.1);
}

.heart-label
{
    position: relative;
    cursor: pointer;
    user-select: none;
}

.button-heart {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: $spacing-medium;
    z-index: 10;
    position: relative;

    @include responsive(tablet) {
      margin-right: 0; 
      margin-top: 5px;
    }
    
    i 
    {
        font-size: $font-size-large;
        color: transparent;
        -webkit-text-stroke: 1px black;
        transition: all 0.3s ease;
        transform-origin: center;

    }

    &--restaurant{
        margin-right: $spacing-small;
        margin-bottom: 25px;
    } 
}

.button-primary{
    background: $gradient-primary;
    color: white;
    padding: $spacing-small $spacing-medium;
    border-radius: $radius-button;    
    border: none;      
    font-size: $font-size-regular;
    transition: $transition-standard;
    &:hover{
        background: $gradient-primary;
        opacity: 0.8;
        transition: $transition-standard;
    }
}

.command-button {
    background: $gradient-button;
    color: white;
    border: none;
    padding: $spacing-small 50px;
    border-radius: 30px;
    font-size: $font-size-regular;
    font-weight: $weight-medium;
    cursor: pointer;
    box-shadow: $shadow-standard;
    transition: $transition-standard;
    &:hover{
        background: $gradient-button;
        opacity: 0.8;
        transition: $transition-standard;
    }
  }