header{
    align-items: center;
    position: relative;
    color: $light-grey;

    .arrow-back {
        position: absolute;
        left: $spacing-medium;
        top: 50%; 
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10; 
        
        a {
            color: $light-grey;
            text-decoration: none;
        }
        
        i {
            font-size: $spacing-medium;
        }
    }
    
    .logo{
        display: flex;
        justify-content: center;
        padding: $spacing-medium 0;
        position: relative;
        box-shadow: $shadow-light;
        z-index: 2;

        @include responsive(tablet){
            box-shadow: none;
        }

        img{
            width: 40%;

            @include responsive(tablet){
                width: 20%;
            }
            @include responsive(desktop){
                width: 10%;
            }
        }
    }    

    .location{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-small;
        background-color: $grey-location;
        font-size: 19px;
        gap: $spacing-medium;
        padding: $spacing-medium 0;

        box-shadow: $shadow-header;
        position: relative;
        z-index: 1;

        @include responsive(tablet){
            box-shadow: none;
        }
    }
}
