.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;    

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      
      @include responsive(tablet){
        height: 400px;
      }
    }
  }
  
