.restaurants
{
    background-color: #f6f6f6;
    margin: 0 auto;
    padding: 40px 25px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    width: 100%; 
    box-sizing: border-box;

    h2
    {
        font-size: 24px;
        font-weight: 700;

        @include responsive(tablet){
            width: 80%;
            margin: auto;
        }
    }
    .restaurants-list
    {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include responsive(tablet){
            width: 80%;
            margin: 10px auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }

        .restaurant-item
        {
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 15px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
            position: relative;


            @include responsive(tablet){
                width: 95%;
            }

            &--new::before {
                content: "Nouveau";
                position: absolute;
                top: 15px;
                right: 15px;
                background-color: #99E2D0;
                color: #008766;
                padding: 8px 12px;
                border-radius: 3px;
                font-weight: 500;
                font-size: 14px;
                z-index: 1;
              }

            img
            {
                border-radius: 15px 15px 0 0;
                width: 100%;
                height: 175px;
                object-fit: cover;
            }
            .elements
            {
                display: flex;
                justify-content: space-between;
                padding: 0 15px;                

                .restaurant-item-text
                {
                    h3
                    {
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                    p
                    {
                        font-size: 17px;
                        font-weight: 300;
                        margin-bottom: 15px;
                    }
                }
                .restaurant-item-heart
                {
                    i
                    {
                        font-size: 24px;
                        color: transparent; 
                        -webkit-text-stroke: 1px black;
                        text-stroke: 1px black; 
                    }
                    margin-right: 15px;
                    margin-top: 10px;
                }

            }
        }
    }
    
}
